@import '~sanitize.css';
@import '_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

#app {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: $charcoal;
  color: rgba(white, 0.8);
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;

  padding: 1em;

  text-align: center;
}

ul.badges {
  padding-left: 0;
  li {
    display: inline-block;
    background-color: $blue;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: transform, background-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;

    &:hover {
      transform: translateY(-1px);
      background-color: lighten($blue, 10%);
    }
    &:active {
      transform: translateY(2px);
      background-color: darken($blue, 10%);
    }
    &.selected {
      background-color: $gunmetal;
    }
  }
}

button {
  display: inline-block;
  background-color: $blue;
  margin: 0.5em;
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: transform, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  &:hover {
    transform: translateY(-1px);
    background-color: lighten($blue, 10%);
  }
  &:active {
    transform: translateY(2px);
    background-color: darken($blue, 10%);
  }
  &.selected {
    background-color: $gunmetal;
  }

  &.danger {
    background-color: $red;
    &:hover {
      background-color: lighten($red, 10%);
    }
    &:active {
      background-color: darken($red, 10%);
    }
  }
}

select {
  option {
    color: $gunmetal;
  }
}

input,
select {
  border: none;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  background: rgba(white, 0.95);
  color: $gunmetal;

  &[type='checkbox'] {
    transform: scale(2.75) translateY(1px);
  }
}

pre {
  background-color: $gunmetal;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  text-align: left;
}
