<template>
  <div id="app">
    <h1>Chord Progression Lab</h1>
    <div class="configuration">
      <h2>Configuration</h2>

      <input type="text" v-model="globalConfig.bpm" @change="changeConfigBpm($event.target.value)" placeholder="BPM" >
      <label><input type="checkbox" v-model="globalConfig.repeat"> repeat</label>
      <button @click="play()">PLAY</button>

      <ul class="badges">
        <li v-for="(_key, index) in KEYS" :key="index" @click="setConfigKey(_key)" :class="{selected: _key === globalConfig.key}">
          {{_key.name}}
        </li>
      </ul>

      <ul  class="badges">
        <li v-for="(_mode, index) in $t.Key.modeNames()" :key="index" @click="setConfigMode(_mode)" :class="{selected: _mode === computedConfig.mode}">
          {{_mode}}
        </li>
      </ul>

      <details>
        <summary>Computed Config</summary>
        <pre>{{computedConfig | json}}</pre>
      </details>
    </div>

    <div class="playlist">
      <h2>Playlist</h2>
      <ul class="badges">
        <li v-for="(_chord, index) in computedPlaylist" :key="index" @click="toggleChordFromPlaylist(_chord)" :class="{selected: _chord.chordRef === chord}">
          <div>
            {{indexedDegreesNotes[_chord.chordRef.degreeIndex].note}}{{_chord.chordRef.type}}
          </div>
          <div>
            {{_chord.chordRef.duration}}
          </div>
          <div>
            <button @click.stop="play(_chord.pitchedNotes)" class="danger">PLAY</button>
          </div>
        </li>
      </ul>

      <details>
        <summary>Computed Playlist</summary>
        <pre>{{computedPlaylist | json}}</pre>
      </details>
    </div>

    <div class="chordboard">
      <h2>Chord</h2>
      <ul class="badges">
        <li v-for="(_degree, index) in degrees" :key="index" @click="setChordDegreeIndex(index)" :class="{selected: index === chord.degreeIndex}">
          {{_degree}} ({{indexedDegreesNotes[index].note}})
        </li>
      </ul>

      <select @change="setChordType($event.target.value)" :value="chord.type">
        <option v-for="(_chord, index) in $t.Chord.names()" :key="index">
          {{_chord}}
        </option>
      </select>

      <button @click="moveChordFromPlaylist(-1)" v-show="chord.degreeIndex !== null">&lt;</button>
      <button @click="moveChordFromPlaylist(1)" v-show="chord.degreeIndex !== null">&gt;</button>
      <button @click="removeChordFromPlaylist(chord)" v-show="chord.degreeIndex !== null" class="danger">X</button>

      <ul class="badges">
        <li v-for="(_duration, index) in DURATIONS" :key="index" @click="setChordDuration(_duration)" :class="{selected: chord.duration === _duration}">
          {{_duration}}
        </li>
      </ul>

      <details>
        <summary>Chord </summary>
        <pre>{{chord | json}}</pre>
      </details>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'App',
  components: {},
  data: function() {
    // common reference used in data objet
    let keys;

    // populate keys
    const setKeys = function() {
      const SHARPS = this.$t.Note.names(' #');
      const FLATS = this.$t.Note.names(' b');

      // Group notes with different values
      // from flat and sharp notes
      keys = _.zipWith(SHARPS, FLATS, function(sharp, flat) {
        const separator = ' / ';
        return {
          value: {
            sharp: sharp,
            flat: flat
          },
          name: sharp === flat ? sharp : [sharp, flat].join(separator)
        };
      });

      return keys;
    };

    return {
      NOTES: this.$t.Scale.notes('C major'), // every notes without alteration
      KEYS: setKeys.bind(this)(), // execute setKeys with this as vueComponent
      DURATIONS: [1, 2, 3, 4].map(n => n + '/4'), // every durations
      globalConfig: {
        // globalConfig hosts config inputs
        bpm: 120,
        repeat: true,
        mode: 'major',
        key: keys[0]
      },
      chord: {
        // chord hosts chord inputs
        degreeIndex: null,
        type: 'Maj7',
        duration: '4/4'
      },
      playlist: [] // playlist hosts the configured chords
    };
  },
  computed: {
    computedConfig: function() {
      // Clone original config (inputs)
      let computedConfig = _.cloneDeep(this.globalConfig);

      // Add custom properties

      // take the key with the less altered notes between sharp and flat
      const keySharp = _.join([this.globalConfig.key.value.sharp, this.globalConfig.mode], ' ');
      const keyFlat = _.join([this.globalConfig.key.value.flat, this.globalConfig.mode], ' ');

      const keySharpAlteredNotes = this.$t.Key.alteredNotes(keySharp);
      const keyFlatAlteredNotes = this.$t.Key.alteredNotes(keyFlat);

      computedConfig.usedKey =
        keyFlatAlteredNotes.length < keySharpAlteredNotes.length
          ? this.globalConfig.key.value.flat
          : this.globalConfig.key.value.sharp;

      // Compute the full key name
      computedConfig.keyMode = _.join([computedConfig.usedKey, this.globalConfig.mode], ' ');

      return computedConfig;
    },
    computedPlaylist: function() {
      // that is now a reference to vueComponent
      const that = this;
      const computedPlaylist = [];

      // generate informations needed by tone.js
      this.playlist.forEach(function(chord) {
        const chordName = [that.indexedDegreesNotes[chord.degreeIndex].note, chord.type].join(' ');
        const computedChord = {
          chordRef: chord,
          notes: that.$t.Chord.notes(chordName),
          pitchedNotes: []
        };

        // bass root note will be on octave 3
        let octave = 3;

        // only to improve readability
        const pitchedNotes = computedChord.pitchedNotes;

        // go through each note of the chord
        computedChord.notes.forEach(function(note, index) {
          // if it's the first, push it
          if (index === 0) {
            pitchedNotes.push(note + octave);
          }

          // get the last added note
          let lastNote = pitchedNotes[pitchedNotes.length - 1];

          // incrase the octave number if needed
          if (that.NOTES.indexOf(note[0]) <= that.NOTES.indexOf(lastNote[0])) {
            octave++;
          }

          pitchedNotes.push(note + octave);
        });

        computedPlaylist.push(computedChord);
      });

      return computedPlaylist;
    },
    degrees: function() {
      return this.$t.Key.degrees(this.computedConfig.keyMode);
    },
    notes: function() {
      return this.$t.Key.scale(this.computedConfig.keyMode);
    },
    indexedDegreesNotes: function() {
      return _.zipWith(this.degrees, this.notes, function(degree, note) {
        return {
          degree: degree,
          note: note
        };
      });
    }
  },
  methods: {
    // global configuration
    changeConfigBpm: function(bpm) {
      // _.set(this, 'bpm', bpm);
      // this.$set(this.globalConfig, 'bpm', bpm);
      console.debug('Changing bpm to ', bpm);
    },
    setConfigKey: function(key) {
      _.set(this, 'globalConfig.key', key);
    },
    setConfigMode: function(mode) {
      _.set(this, 'globalConfig.mode', mode);
    },

    // playlist
    toggleChordFromPlaylist: function(chord) {
      if (this.chord === chord.chordRef) {
        this.unselectChordFromPlaylist();
      } else {
        this.selectChordFromPlaylist(chord);
      }
    },
    unselectChordFromPlaylist: function() {
      _.set(this, 'chord', { degreeIndex: null, type: 'Maj7', duration: '4/4' });
    },
    selectChordFromPlaylist: function(chord) {
      _.set(this, 'chord', chord.chordRef);
    },
    removeChordFromPlaylist: function(chord) {
      this.$delete(this.playlist, this.playlist.indexOf(chord));
      this.unselectChordFromPlaylist();
    },
    moveChordFromPlaylist: function(step) {
      const oldIndex = this.playlist.indexOf(this.chord);
      let newIndex = oldIndex + step;

      // the following two lines prevent a new index
      // outside of the array boundaries
      newIndex = newIndex < 0 ? 0 : newIndex;
      newIndex = newIndex > this.playlist.length - 1 ? this.playlist.length - 1 : newIndex;

      this.playlist[oldIndex] = this.playlist.splice(newIndex, 1, this.playlist[oldIndex])[0];
    },

    // chord
    setChordDegreeIndex: function(degreeIndex) {
      // if no chord is selected, add a new one
      if (_.get(this, 'chord.degreeIndex') === null) {
        this.playlist.push(this.chord);
      }

      _.set(this, 'chord.degreeIndex', degreeIndex);
    },
    setChordType: function(type) {
      _.set(this, 'chord.type', type);
    },
    setChordDuration: function(duration) {
      _.set(this, 'chord.duration', duration);
    },

    // play
    play: function(notes) {
      console.log('PLAY START');

      console.log(notes);

      const synth = new this.$tone.PolySynth(notes.length, this.$tone.Synth).toMaster();
      synth.triggerAttackRelease(notes, '8n');

      console.log('PLAY STOP');
    }
  },
  filters: {
    json: function(value) {
      return JSON.stringify(_.isObject(value) ? value : JSON.parse(value), null, 4);
    }
  }
};
</script>

<style src="./assets/main.scss" lang="scss"></style>
